<header>
    <style>
        a {
            display: inline-block;
            text-align: center;
            text-decoration: none; 
            width:100px;
            margin-left:1px;
            font-size: 1.2em;
            background-color: forestgreen;
            color: white;
            }
    </style>
<h1>{{pageTitle}}</h1>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/projects">Projects</a>
</header>
